@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
	font-family: "Anton";
	font-size: 19px;
}

body{
   background-size:100%;
   background-image: url(fa/fon.jpg);
	background-repeat: no-repeat;
  	background-attachment: fixed;
}

header{
	text-align: center;
	background-color:  rgb(26, 18, 150);
	font-size: 100px;
}

h2{
	text-align: center;
	background-color: rgb(26, 18, 150);
	font-size: 29px;
}

table{
   width:900px;
   border: 4px solid black;
	width: flex; 
	background-color: rgb(66, 67, 112);
}

.people-table-cell{
	border: 5px solid rgb(180, 159, 196);
	background-color: rgb(88, 91, 97);
}

.planet{
   
   border: 5px solid black;
}
#film{
   font-size: 25px;
   /* border-color: -internal-light-dark(rgb(114, 21, 21), rgb(218, 74, 74));
   background-color: -internal-light-dark(rgb(223, 84, 84), rgb(18, 122, 114)); */
}