
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(3, 212, 219);
  background-image: url(gif/wer.gif);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.segment{
  background-color: rgba(167, 28, 144, 0.267);
  height: 40px;
}
.segmentt{
  background-color: rgba(46, 26, 230, 0.303);
  height: 40px;
}